body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
}

input {
    width: 100px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    height:auto;
    background-color:antiquewhite;
}

.history {
     background-color:aqua;
     height:auto;
     width: 400px;
     margin: 0;
}

.right {
    height:auto;
    width: 400px;
    background-color:aquamarine;
}
.buttons {
    width: 400px; 
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 20px;
}

.button {
    width: 98px;
    height: 98px;
    font-size: 30px;
    border-radius: 5px;
    margin: 1px;
}

