body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: #2D3748;
}

h1 {
    margin: auto;
    font-size: 35px;
}

h2 {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #aab6cf;
}

.history-text {
    font-size: 20px;
    overflow: wrap;
}

input {
    width: 400px;
    height: 60px;
    font-size: 35px;
    text-align: right;
    padding-right: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    height:auto;
}

#history {
     background-color:#E2E8F0;
     height:auto;
     width: 400px;
}

.right {
    height:auto;
    width: 400px;
    background-color:#E2E8F0;
}
.buttons {
    width: 400px; 
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 20px;
}

.button {
    width: 98px;
    height: 98px;
    font-size: 30px;
    border-radius: 5px;
    margin: 1px;
}

