<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>りうの電卓(web版)</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>練習中</h1>
    <div class="calculator">
        <form>
            <p>数字1<input type="number" name="num1"></p>
            <p>数字2<input type="number" name="num2"></p>
            <!-- <p>演算子<input type="text" name="operator"></p> -->
            <select name="operator">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <button>計算</button>
            {% if result %}
            <p class="result">結果: {{ result }}</p>
            {% endif %}
        </form>
    </div>

    <div class="buttons">
        <button class="button">7</button>
        <button class="button">8</button>
        <button class="button">9</button>
        <button class="button">4</button>
        <button class="button">5</button>
        <button class="button">6</button>
        <button class="button">1</button>
        <button class="button">2</button>
        <button class="button">3</button>
    </div>
</body>
</html>
