body {
    font-family: Arial, sans-serif;
    background-color: #e5e7eb;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: #2D3748;
}

h1 {
    margin: auto;
    font-size: 35px;
}

h2 {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #aab6cf;
}

.history-text {
    margin-left: 10px;
    font-size: 20px;
    overflow: wrap;
}


#display {
    width: 400px;
    height: 60px;
    font-size: 35px;
    text-align: right;
    padding-right: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    height:auto;
}

#history {
     background-color: #d6dde8;
     height:auto;
     width: 400px;
}

.history-answer {
    cursor: pointer;
}

.history-delete {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.history-delete img {
    display: block;
}

.calculator {
    height:auto;
    width: 400px;
}

#display {
    border: none;
    border-radius: 8px;
}

.buttons {
    width: 400px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: #f3f4f6;
}

button {
    padding: 20px;
}

.button, .top-button-b {
    width: 98px;
    height: 98px;
    border-radius: 5px;
    margin: 1px;
}

.top-button-b {
    grid-column: span 2;
    grid-row: span 2;
    font-size: 25px;
}

.top-button-s {
    width: 98px;
    height: 49px;
    font-size: 20px;
    border-radius: 5px;
    margin: 1px;
    padding: 0;
    grid-column: span 2;
    grid-row: span 1;
}

.button {
    grid-column: span 2;
    grid-row: span 2;
    font-size: 30px;
}

